.section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 30rem), 1fr));
}

.contentImage{
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.contentText{
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 5rem;
    place-self: center;
    min-width: 25rem;
}

.contentText > p{
    font-size: 1.5em;
    line-height: 1.5em;
}
.image{
    margin: auto;
    display: block;
}
.button{
    border: none;
    padding: 1rem 3rem;
    color: #fff;
    font-weight: bolder;
    border-radius: 50px;
    background: var(--color-github);
    text-transform: uppercase;
    white-space: nowrap;
    display:block;
    margin: auto;
    cursor: pointer;
}
@media screen and (min-width: 768px) {

    .contentText > h1{
        font-size: 2.25rem;
    }
}
@media screen and (min-width: 1440px) {
    .section{
        padding-left: 10rem;
        padding-right: 15rem;
    }
    .contentText{
        width: 33rem;
        padding-bottom: 0;
    }
}